#root {
  @apply text-center;
}

/* COMPONENTS */
/* Global Components */
/* Navbar */
.colored-line {
  @apply h-2.5 w-screen;
}

nav {
  @apply h-auto w-screen flex justify-between items-center shadow-sm;
}

nav .logo {
  @apply h-16 w-auto;
}

nav .nav-links-dropdown {
  @apply w-96 flex justify-between items-center;
}

nav .exit-btn {
  background-image: url("assets/exit-icone.png");
  @apply h-12 m-4 bg-contain bg-no-repeat bg-transparent;
}

.content-outlet {
  height: 88vh;
  display: grid;
  place-items: center;
}

/* Container */
.container {
  @apply w-3/4 max-w-4xl h-auto mx-0 my-8 py-12 px-0
    border border-slate-200 rounded-2xl shadow-sm;
}

.container > .components-inputs {
  @apply flex justify-around flex-wrap;
}

.input-div {
  @apply m-4;
}

.inp-parag {
  @apply font-semibold text-start flex justify-start;
}

.text-inp {
  @apply w-96 h-14 px-3 rounded-md bg-gray-200 border-none 
    text-base placeholder-gray-400
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}

/* Botao */
.button {
  @apply my-8 mx-0 text-white bg-blue-500 transition duration-300;
}

.button:hover {
  @apply bg-[#215b7c];
}

/* Searchbar */
.searchbar .searchbar-inp {
  @apply  m-0.5 h-8 px-3 rounded-md text-base placeholder-slate-400
  focus:outline-none focus:border-sky-600 focus:ring-2 focus:ring-sky-600;
}


/* Aprendiz components */
/* BotaoServico */
.servico-btn {
  @apply m-16 h-48 w-48 border border-slate-300
    flex flex-col justify-center items-center
    bg-slate-200 rounded-2xl text-slate-900
    transition duration-500;
}

.servico-btn:hover {
  @apply bg-slate-400;
}

/* ContainerAprendiz */
.text-area-div {
  @apply resize-none w-full h-36 p-3;
}



/* Adm components */
/* ModalAdm */
.modal-adm-div {
  @apply text-center;
}

.checkboxes {
  @apply mt-10 mb-5 ml-5;
}


/* PAGES */
/* Global pages */

/* Aprediz pages */
/* aprendiz-main */
.servico-btn-div {
  @apply flex items-center;
}

.aviso-emprestimo {
  @apply flex justify-around font-bold;
}

/* problema */
.container-aprendiz-div {
  @apply flex flex-wrap w-full justify-evenly;
}


/* Adm pages */
/* adm-relatorio */
.dropdown-div {
  @apply  w-3/4 mt-10 flex justify-between self-start;
}

.signup-modal-btn {
  @apply absolute end-0 bottom-0 m-8;
}



@media (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}